/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground bg-[#006667] font-sans;
}

#page {
	@apply my-8 mx-auto w-11/12 bg-white p-6;

	@media (min-width: 768px) {
		@apply w-[728px];
	}

	@media (min-width: 960px) {
		@apply w-[920px];
	}
}

img.alignleft {
	float: left;
	margin: 0 35px 10px 0;
}

img.alignright {
	float: right;
	margin: 0 0 10px 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply mb-0.5 text-[#006667];
}

p {
	@apply mb-5 text-base;
}

h1 {
	@apply text-3xl font-bold;

	&.site-title {
		@apply text-4xl font-bold lowercase;
	}

	&.teaser-title {
		@apply text-[#008285];
	}
}

h2 {
	@apply text-xl font-bold lowercase italic;
}

h3 {
	@apply text-lg font-bold lowercase italic;
}

a {
	@apply font-bold text-[#7500EB] underline;

	&:hover {
		@apply text-[#9C38FF];
	}
}

.teaser {
	display: flex;
	grid-gap: 2rem;
}

.teaser-image {
	width: 33%;
}

.teaser-text {
	width: 66%;
}

.purchase-info {
	@apply text-sm;
}
